@import './variables.scss';

body {
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

.section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}