:root {
    --color-primary: #7d4fff;
    --color-secondary: #f4a261;
    --color-background: #ffffff;
    --color-background-dark: #1e1e1e;
    --color-text: #111111;
    --color-text-light: #ffffff;
  
    --transition: 0.3s ease-in-out;
  }  